.services__container__cards__card__link, .features__cards__card__content__link, .services__container__title, .services__container__cards__card__title, .features__title, .features__cards__card__content__title {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
}

.services__container__description, .services__container__cards__card__description, .features__description, .features__cards__card__content__description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.services__container__cards__card__link, .features__cards__card__content__link {
  color: #fff;
  text-decoration: none;
  padding: 0.8em 1.5em;
  text-align: center;
  width: 9.25em;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #f7f7f7;
}

.services__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
  width: 80%;
  margin: 5em auto;
}

.services__container__title {
  font-size: 2.2em;
  color: #212121;
}

.services__container__description {
  color: #575757;
  width: 60%;
  margin: 0 auto;
}

.services__container__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1.5em;
  margin: 1.5em auto;
}

.services__container__cards__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5em;
  padding: 1.6em;
}

.services__container__cards__card__title {
  color: #212121;
}

.services__container__cards__card__description {
  font-size: 0.9em;
  color: #575757;
  line-height: 1.5em;
  margin: 0.5em auto 2.5em;
}

.services__container__cards__card__link {
  font-size: 0.9em;
  place-self: center;
}

.services__container__cards__card__link--white {
  background-color: #515151;
}

.services__container__cards__card__link--blue {
  background-color: #0047ff;
}

.services__container__cards__card__link--green {
  background-color: #40433c;
}

.services__container__cards__card__link--pink {
  background-color: #b75f5f;
}

.services__container__cards__card--white {
  background-color: #fff;
}

.services__container__cards__card--blue {
  background-color: #e4f2ff;
}

.services__container__cards__card--green {
  background-color: #d1dfbf;
}

.services__container__cards__card--pink {
  background-color: #f9dbdb;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
  width: 65%;
  margin: 5em auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__title {
  font-size: 2.2em;
  color: #E70606;
}

.features__description {
  color: #575757;
  width: 80%;
  text-align: center;
}

.features__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3em;
  margin: 2em auto;
}

.features__cards__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 7em;
  place-items: center;
}

.features__cards__card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5em;
}

.features__cards__card__content__description {
  line-height: 1.5em;
}

.features__cards__card__content__link {
  background-color: #E70606;
}

.features__cards__card__image {
  width: 25em;
  height: 25em;
  border: 0.8em solid #F9DBDB;
  border-radius: 50%;
}
/*# sourceMappingURL=style.css.map */